RUN_ADDRESS=:8080
PUBLIC_URL=http://localhost:8080
DATABASE_URI=postgres://gophprofile:gophprofile@localhost:5432/gophprofile?sslmode=disable
S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=avatars
S3_USE_SSL=false
RABBITMQ_URI=amqp://guest:guest@localhost:5672/
OTEL_SERVICE_NAME=gophprofile-server
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_EXPORTER_OTLP_INSECURE=true
OTEL_TRACING_ENABLED=true
METRICS_ADDRESS=:9091
LOG_LEVEL=info
